<div class="product-block onboarding">
  <div class="block-inner">
    <div class="product-link">
      <div class="image-cont">
        {% capture placeholder_svg_name %}product-{{ forloop.index | modulo: 6 | plus: 1 }}{% endcapture %}
        <div class="placeholder-image">{{ placeholder_svg_name | placeholder_svg_tag }}</div>
      </div>

      <div class="product-info">
        <div class="inner">
          <div class="innerer">
            <div class="product-block__title">{{ 'onboarding.product.product_title' | t }}</div>
            <span class="price">
              {%- if settings.product_currency_code_enabled -%}
                {{- 1234 | money_with_currency -}}
              {%- else -%}
                {{- 1234 | money -}}
              {%- endif -%}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>