<svg width="48px" height="41px" viewBox="0 0 48 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Vimeo</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-487.000000, -298.000000)" fill="currentColor">
            <path d="M534.975851,307.479329 C534.767002,312.100014 531.498808,318.41644 525.193846,326.431401 C518.668746,334.81233 513.13991,339 508.621448,339 C505.827396,339 503.459507,336.452198 501.526249,331.339832 C500.230825,326.649305 498.943867,321.958779 497.651265,317.282221 C496.211905,312.167061 494.670943,309.610878 493.022735,309.610878 C492.664306,309.610878 491.414038,310.356781 489.25782,311.85138 L487,308.971134 C489.365066,306.917807 491.696265,304.856098 493.996419,302.799977 C497.146078,300.101318 499.513967,298.684941 501.094441,298.536878 C504.819844,298.179292 507.117175,300.701951 507.983614,306.096476 C508.906498,311.921221 509.555621,315.541782 509.91405,316.960952 C510.992159,321.788367 512.17187,324.196487 513.464472,324.196487 C514.466379,324.196487 515.973474,322.637634 517.982934,319.517135 C519.992393,316.391049 521.062036,314.016453 521.208794,312.379378 C521.496666,309.680719 520.421379,308.339771 517.982934,308.339771 C516.834268,308.339771 515.648912,308.580024 514.432512,309.08288 C516.803223,301.486965 521.318863,297.793769 527.99072,298.00888 C532.932524,298.145768 535.266545,301.308172 534.975851,307.479329"></path>
        </g>
    </g>
</svg>