<svg width="27px" height="48px" viewBox="0 0 27 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Tumblr</title>
    <defs></defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-886.000000, -295.000000)" fill="currentColor">
            <path d="M910.740658,333.340738 C909.867109,333.766425 908.196509,334.136797 906.950767,334.168664 C903.189709,334.271478 902.45974,331.469336 902.429435,329.438001 L902.429435,314.495346 L911.863709,314.495346 L911.863709,307.227393 L902.462094,307.227393 L902.462094,295 L895.582268,295 C895.468992,295 895.271274,295.101311 895.243323,295.358347 C894.840825,299.100549 893.127268,305.668643 886,308.294919 L886,314.495046 L890.75465,314.495046 L890.75465,330.177843 C890.75465,335.54794 894.631338,343.176945 904.865311,342.99687 C908.318317,342.936444 912.153225,341.459765 913,340.184807 L910.740658,333.340738"></path>
        </g>
    </g>
</svg>